* {
	box-sizing: border-box;
}
.conatainer {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
.row::before,
.row::after {
	content: '';
	display: table;
	clear: both;
}
/*header*/
header {
	height: 100vh;
	background-image: url('images/header-bg.jpg');
}
nav ul {
	padding: 10px;
	list-style: none;
	float: right;
	padding-right: 15%;
	font-family: 'Open Sans', sans-serif;
	text-align: center;	
	font-size: 0px;
}
nav ul li {
	display: inline-block;
}
nav ul li a {	
	padding: 20px ;
	display: block;
	color: #fff;
	text-decoration: none;
	text-transform: uppercase;	
	font-size: 14px;
	letter-spacing: 0.5mm;
}
nav ul li a:hover {
	color: #ffcc00;
}
nav h1 {
	font-family: 'Great Vibes', cursive;	
	font-size: 26px;
	font-weight: 400;
	color: #ffcc00;
	padding: 20px;
	padding-left: 15%;
	float: left;
}
.welcome {
	text-align: center;
	color: #fff;
}
.welcome h1 {
	margin-top: 150px;
	text-transform: capitalize;
	font-family: 'Alegreya', serif;
	font-size: 40px;
	font-weight: 400;
}
.welcome h2 {
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 60px;
	letter-spacing: 1mm;
}
.welcome button {
	background-color: #ffd633;
	color: #fff;
	border: none;
	padding: 15px 32px;
	text-transform: uppercase;
	text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 10px 2px;
    cursor: pointer;
    border-radius: 5px;
    letter-spacing: 0.5mm;
    font-family: 'Open Sans', sans-serif;
    font-weight: 800;
    font-size: 16px;
    margin-top: -20px;
}
/*services*/
[class*="col-"] {
 	float: left;
 	min-height: 1px;
 	padding: 10px;
 }

.col-1 {width: 8.33%;}
.col-2 {width: 16.66%;}
.col-3 {width: 25%;}
.col-4 {width: 33.33%;}
.col-5 {width: 41.66%;}
.col-6 {width: 50%;}
.col-7 {width: 58.33%;}
.col-8 {width: 66.66%;}
.col-9 {width: 75%;}
.col-10 {width: 83.33%;}
.col-11 {width: 91.66%;}
.col-12 {width: 100%;}

.col-offset-0 {margin-left: 0;}
.col-offset-1 {margin-left: 8.33%;}
.col-offset-2 {margin-left: 16.66%;}
.col-offset-3 {margin-left: 25%;}
.col-offset-4 {margin-left: 33.33%;}
.col-offset-5 {margin-left: 41.66%;}
.col-offset-6 {margin-left: 50%;}
.col-offset-7 {margin-left: 58.33%;}
.col-offset-8 {margin-left: 66.66%;}
.col-offset-9 {margin-left: 75%;}
.col-offset-10 {margin-left: 83.33%;}
.col-offset-11 {margin-left: 91.66%;}

.services {
	margin: 80px 12% 80px 12%;
}
.services h1 {
	text-align: center;
	text-transform: uppercase;
	font-family: 'Open Sans', sans-serif;
	font-size: 40px;
	margin-bottom: 0px;
}
.services p {
	text-align: center;
	font-family: 'Alegreya', serif;
	margin-top: 0px;
}
.services h2 {
	text-align: center;
	font-family: 'Open Sans', sans-serif;
	font-size: 20px;
}
.services .col-4 {
	padding: 30px;
}
.services .icon-btn {
	height: 100px;
	width: 100px;
	border: 0;			
	padding-top: 10px;	
	cursor: pointer;
	margin: 0 auto;
	text-align: center;
}
.services .icon-btn:hover {	
	border-radius: 12%;
	background-color: #ffd633;
}
.services .icon-btn:hover + h2 {
	color:  #ffd633;
}
